.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.container-forms {
    font-family:'Montserrat';
    padding-top: 1%;
}

.container-user {
    margin: auto;
}

.container-logout {
    margin: auto;
    position: absolute;
    bottom: 5%;
    right: 5%
}

.container > .menu {
    color: black;
    border: 1px solid #000;
    background: #ccc;
    width: 50%;
    justify-content: space-evenly;
    width: 20%;
    padding-bottom: 5%;
}

.form-btn {
    border-radius: 1%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form-btn:hover{
    background-color: rgb(233, 8, 0) ; /* Green */
    color: white;
}

.buttons {
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.form-btn.delete {
    color: white;
    background-color: rgb(233, 8, 0);
}

.form-btn.delete:hover {
    color: rgb(233, 8, 0);
    background-color: white;
}

.users {
    color: black;
    border: 1px solid #000;
    background: #ccc;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-btn {
    display: flex;
    justify-content: center;
    padding: 20 10 20 10;
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 20px;
}
tr:hover {
    background: #F5F5F5;
}

.container.manage {
    display: flex;
    justify-content: space-evenly;
}

body {
    justify-content: center;
}